[Unit]
Description=Poll the Hephaestus release channel
Documentation=https://docs.hephaestus.build/admin/pull-based-deployment

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=15s
AccuracySec=10s

[Install]
WantedBy=timers.target
