# Used for local development

services:
  postgres:
    image: 'postgres:16'
    environment:
      POSTGRES_DB: hephaestus
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
    ports:
      - '5432:5432'
    networks:
      - app-network
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/hephaestus-realm.json
      KEYCLOAK_GITHUB_CLIENT_ID: '${KEYCLOAK_GITHUB_CLIENT_ID:?Set GitHub OAuth client ID}'
      KEYCLOAK_GITHUB_CLIENT_SECRET: '${KEYCLOAK_GITHUB_CLIENT_SECRET:?Set GitHub OAuth client secret}'
      KEYCLOAK_GITHUB_ADMIN_USERNAME: '${KEYCLOAK_GITHUB_ADMIN_USERNAME:?Set GitHub admin username}'
    command: 
      - start-dev
      - --import-realm
    ports:
      - '8081:8080'
    volumes:
      - keycloak-data:/opt/keycloak/data/
      - ./keycloak-hephaestus-realm-example-config.json:/opt/keycloak/data/import/hephaestus-realm.json
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  keycloak-data: