<hlm-tooltip>
    <a
      hlmBtn
      hlmTooltipTrigger
      hlmTooltipContentClass="bg-purple-100 dark:bg-purple-800 dark:border-purple-500 border-purple-300 text-github-upsell-foreground dark:text-popover-foreground"
      aria-describedby="AI Mentor"
      class="cursor-pointer gap-2"
      variant="ghost"
      [size]="iconOnly() ? 'icon' : 'default'"
      [routerLink]="[ '/', 'chat' ]" 
      routerLinkActive="active"
    >
      <lucide-angular [img]="BotMessageSquare" class="size-4" />
      @if (!iconOnly()) {
        AI&nbsp;Mentor
      }
    </a>
    @if (iconOnly()) {
      <span *brnTooltipContent class="flex items-center">AI&nbsp;Mentor</span>
    }
  </hlm-tooltip>