<a
    hlmBtn
    aria-describedby="AI Mentor"
    class="border-cyan-500 cursor-pointer text-cyan-500 hover:text-cyan-500 hover:bg-cyan-500/10 dark:hover:bg-cyan-500/20 gap-2"
    variant="outline"
    [size]="iconOnly() ? 'icon' : 'default'"
    [routerLink]="['/', 'chat']"
    routerLinkActive="active"
  >
    <lucide-angular [img]="BotMessageSquare" class="size-4" />
    @if (!iconOnly()) {
      AI&nbsp;Mentor
    }
  </a>
  @if (iconOnly()) {
    <span *brnTooltipContent class="flex items-center">AI&nbsp;Mentor</span>
  }
