<div class="flex flex-col items-center">
  <div class="grid grid-cols-1 xl:grid-cols-5 gap-y-4 xl:gap-8">
    <div class="space-y-2 col-span-1">
      <div class="flex flex-col gap-2 mb-4">
        <h1 class="text-xl font-semibold">Activities</h1>
        <p>
          You currently have <span class="font-semibold">{{ numberOfPullRequests() }}</span> open pull requests and
          <span class="font-semibold">{{ numberOfBadPractices() }}</span> detected bad practices.
        </p>
      </div>
    </div>
    <div class="col-span-3">
      <div class="flex flex-col justify-between gap-2">
        <span class="flex flex-row justify-between items-center">
          <h1 class="text-xl font-semibold">Your open pull requests</h1>
          @if (currUserIsDashboardUser()) {
            <button hlmBtn variant="outline" class="gap-2" (click)="this.detectBadPracticesMutation.mutate()">
              @if (this.detectBadPracticesMutation.isPending()) {
                <hlm-spinner class="size-4" />
              } @else {
                <ng-icon name="lucideRefreshCcw" class="size-4" />
              }
              <span>Detect bad practices</span>
            </button>
          }
        </span>
        <div class="flex flex-col gap-4">
          @if (query.data()?.pullRequests) {
            @for (pullRequest of query.data()?.pullRequests; track pullRequest.id) {
              <app-pull-request-bad-practice-card
                [id]="pullRequest.id"
                [title]="pullRequest.title"
                [number]="pullRequest.number"
                [additions]="pullRequest.additions"
                [deletions]="pullRequest.deletions"
                [htmlUrl]="pullRequest.htmlUrl"
                [repositoryName]="pullRequest.repository.name"
                [createdAt]="pullRequest.createdAt"
                [state]="pullRequest.state"
                [isDraft]="pullRequest.isDraft"
                [isMerged]="pullRequest.isMerged"
                [pullRequestLabels]="pullRequest.labels"
                [badPractices]="pullRequest.badPractices"
                [badPracticeSummary]="pullRequest.badPracticeSummary"
                [openCard]="this.openedPullRequestId == pullRequest.id"
                [currUserIsDashboardUser]="this.currUserIsDashboardUser()"
              >
              </app-pull-request-bad-practice-card>
            }
          }
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <app-bad-practice-legend-card></app-bad-practice-legend-card>
    </div>
  </div>
</div>
