<div class="flex flex-col items-center justify-center space-y-6">
  <div class="size-20 border-cyan-500 rounded-full flex items-center justify-center border-4">
    <lucide-angular [img]="BotMessageSquare" class="size-10 text-cyan-500" />
  </div>

  <div>
    <h2 class="text-center text-xl text-primary font-semibold max-w-3xl dark:text-white">Meet Your Personal AI Mentor:<br />Designed to help you grow and stay focused.</h2>
    <p class="text-center text-l pt-2">Review past sessions or begin a new conversation to stay on track.</p>
  </div>

  <button hlmBtn aria-describedby="Start Session" (click)="this.createNewSession.emit()">Start Session</button>
</div>
