<div class="flex flex-col items-center justify-center space-y-6">
  @if (isLoading()) {
    <hlm-skeleton class="size-20 rounded-full" />
    <div class="grid gap-4 justify-items-center items-center">
      <hlm-skeleton class="w-72 h-5" />
      <hlm-skeleton class="w-96 h-5" />
      <hlm-skeleton class="w-[420px] h-4" />
      <hlm-skeleton class="w-32 h-10 mt-2" />
    </div>
  } @else {
    <div class="size-20 border-cyan-500 rounded-full flex items-center justify-center border-4">
      <lucide-angular [img]="BotMessageSquare" class="size-10 text-cyan-500" />
    </div>
    <div>
      <h2 class="text-center text-xl text-primary font-semibold max-w-3xl dark:text-white">Meet Your Personal AI Mentor:<br />Designed to help you grow and stay focused.</h2>
      @if (hasSessions()) {
        <p class="text-center text-l pt-2">Review past sessions or begin a new conversation to stay on track.</p>
      } @else {
        <p class="text-center text-l pt-2">Begin your first session to stay on track.</p>
      }
    </div>

    @if (isLastSessionClosed()) {
      <button hlmBtn aria-describedby="Start Session" (click)="this.createNewSession.emit()">Start Session</button>

    } @else {
      <hlm-alert-dialog>
        <button hlmBtn brnAlertDialogTrigger aria-describedby=">Start Session" class="w-full gap-2 mt-6 justify-start h-9">
          <span>Start Session</span>
        </button>
        <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
          <hlm-alert-dialog-header>
            <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
            <p hlmAlertDialogDescription>
              You have not finished your most recent session yet. If you start a new session, your current session will be closed. It may effect the quality of your mentorship.
            </p>
          </hlm-alert-dialog-header>
          <hlm-alert-dialog-footer>
            <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
            <button hlmAlertDialogAction (click)="ctx.close(); this.createNewSession.emit()">Start New Session</button>
          </hlm-alert-dialog-footer>
        </hlm-alert-dialog-content>
      </hlm-alert-dialog>
    }
  }
</div>
