<div class="container space-y-4">
  <div class="flex gap-8">
    <div class="inset-y-8 sticky h-fit space-y-4 rounded-md border border-input p-2">
      <span class="text-lg font-bold indent-2">Admin Area</span>
      <ul class="flex flex-col gap-2 w-40">
        @for (navItem of navItems; track navItem.label) {
          <li>
            <a
              hlmBtn
              size="sm"
              variant="ghost"
              class="justify-start gap-2 w-full"
              [routerLink]="navItem.route"
              routerLinkActive="text-accent-foreground bg-accent"
              [routerLinkActiveOptions]="{ exact: navItem.exact ?? false }"
              ariaCurrentWhenActive="page"
            >
              <hlm-icon size="normal" [name]="navItem.icon" />
              {{ navItem.label }}
            </a>
          </li>
        }
      </ul>
    </div>
    <div class="w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
