<div class="container space-y-4">
  <div class="flex justify-between gap-8">
    <div class="flex flex-col gap-4 rounded-md border border-input p-2">
      <span class="text-lg font-bold indent-2">Admin Area</span>
      <ul class="flex flex-col gap-2 w-40">
        <li>
          <a
            hlmBtn
            size="sm"
            variant="navButton"
            routerLink="."
            routerLinkActive="text-accent-foreground bg-accent"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
          >
            <hlm-icon size="normal" name="lucideFileCog" />
            Environment
          </a>
        </li>
        <li>
          <a hlmBtn size="sm" variant="navButton" routerLink="users" routerLinkActive="text-accent-foreground bg-accent" ariaCurrentWhenActive="page">
            <hlm-icon size="normal" name="lucideUserCircle" />
            Users
          </a>
        </li>
        <li>
          <a hlmBtn size="sm" variant="navButton" routerLink="teams" routerLinkActive="text-accent-foreground bg-accent" ariaCurrentWhenActive="page">
            <hlm-icon size="normal" name="lucideUsers2" />
            Teams
          </a>
        </li>
      </ul>
    </div>
    <div class="block w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
