<div class="flex flex-col items-center justify-center h-full space-y-6">
  <div class="w-20 h-20 bg-transparent border-cyan-500 rounded-full flex items-center justify-center" style="border-width: 3px">
    <lucide-angular [img]="BotMessageSquare" class="size-10 text-cyan-500" style="stroke-width: 1.5"></lucide-angular>
  </div>

  <h2 class="text-center text-xl text-gray-700 font-semibold max-w-3xl">
    Meet Your Personal AI Mentor – designed to help you grow faster through focused and reflective learning sessions. Click below to begin!
  </h2>

  <a hlmBtn aria-describedby="Start First Session" class="bg-cyan-500 text-white p-4 rounded-lg hover:bg-cyan-600 cursor-pointer" (click)="handleCreateSession()">Start First Session</a>
</div>
