<div hlmCard class="flex flex-col gap-6 p-4">
  <button hlmBtn aria-describedby=">New Session" class="w-full gap-2 justify-start" (click)="this.createNewSession.emit()">
    <lucide-angular [img]="Plus" class="size-4" />
    <span>New Session</span>
  </button>
  @if ((sessions()?.length ?? 0) > 0) {
    <div class="flex flex-col gap-2">
      <h4 class="text-lg font-semibold sticky top-0">Past Sessions</h4>
      @for (session of sessions(); track session.id) {
        <button brnToggle [state]="selectedSessionId() === session.id ? 'on' : 'off'" hlm (click)="selectedSessionId.set(session.id)" class="justify-start">
          {{ session.createdAt | date: 'short' }}
        </button>
      }
    </div>
  }
</div>
