@if (isLoading()) {
  <div hlmCard variant="profile" [class]="class()">
    <div hlmCardContent variant="profile">
      <hlm-skeleton class="h-4 w-1/2"></hlm-skeleton>
      <div class="flex items-center gap-2 font-medium">
        <hlm-skeleton [class]="'h-7 w-7 ' + this.skeletonColorForReviewState()"></hlm-skeleton>
        <hlm-skeleton class="h-6 w-3/4"></hlm-skeleton>
      </div>
    </div>
  </div>
} @else {
  <a hlmCard variant="profile" class="hover:bg-accent/50" [href]="htmlUrl() ?? this.pullRequest()?.htmlUrl" target="_blank" rel="noopener noreferrer" [class]="class()">
    <div hlmCardContent variant="profile">
      <div class="flex items-center justify-between">
        <span class="text-sm text-muted-foreground first-letter:uppercase">
          {{ relativeActivityTime() }}
          in
          {{ this.repositoryName() }} #{{ this.pullRequest()?.number }}
        </span>
        <div class="flex items-center text-violet-500 dark:text-violet-600">
          <hlm-icon size="sm" name="lucideAward" />
          <span>+{{ this.score() }}</span>
        </div>
      </div>
      <div class="containerSize flex items-center gap-2 font-medium">
        <ng-icon [className]="this.reviewStateProps().color" [svg]="this.reviewStateProps().icon" size="20"></ng-icon>
        <span [innerHTML]="displayPullRequestTitle()" class="truncate w-[95%]"></span>
      </div>
    </div>
  </a>
}
