.p-0 {
  padding: 0 !important;
}

.kcFormCardClass {
  border-top: 0;
  border-color: #00000000;
}

.kcHeaderWrapperClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  color: #000000;
}

.kcLoginClass {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kcFormCardClass {
  margin-bottom: 200px;
}