<div class="flex flex-col gap-4 py-8">
  <h1 class="text-3xl font-bold">Artemis Leaderboard</h1>
  @if (query.isPending()) {
    <span class="text-muted-foreground">Data is loading...</span>
  } @else if (query.error()) {
    <span class="text-destructive">An error has occurred</span>
  }

  @if (leaderboard(); as leaderboard) {
    <div class="px-4">
      <app-table>
        <thead appTableHeader>
          <tr appTableRow>
            <th appTableHead>Rank</th>
            <th appTableHead>Contributor</th>
            <th appTableHead>Score</th>
            <th appTableHead>Activity</th>
          </tr>
        </thead>
        <tbody appTableBody>
          @for (entry of leaderboard; track entry.githubName) {
            <tr appTableRow>
              <td appTableCell>{{ entry.rank }}</td>
              <td appTableCell>
                <a href="https://github.com/{{ entry.githubName }}" target="_blank" rel="noopener noreferrer" class="flex items-center gap-2 font-medium">
                  <img src="{{ entry.avatarUrl }}" width="24" height="24" />
                  <span class="text-muted-foreground">{{ entry.name }}</span>
                </a>
              </td>
              <td appTableCell>{{ entry.score }}</td>
              <td appTableCell class="flex items-center gap-4" title="Changes Requested">
                @if (entry.changesRequested && entry.changesRequested > 0) {
                  <div class="flex items-center gap-2">
                    <app-icon-pull-request-changes-requested />
                    {{ entry.changesRequested }}
                  </div>
                }
                @if (entry.approvals && entry.approvals > 0) {
                  <div class="flex items-center gap-2" title="Approvals">
                    <app-icon-pull-request-approved />
                    {{ entry.approvals }}
                  </div>
                }
                @if (entry.comments && entry.comments > 0) {
                  <div class="flex items-center gap-2" title="Comments">
                    <app-icon-pull-request-comment />
                    {{ entry.comments }}
                  </div>
                }
              </td>
            </tr>
          }
        </tbody>
      </app-table>
    </div>
  }
</div>
