<header class="container flex items-center justify-between pt-4 gap-2">
  <div class="flex gap-4 items-center flex-1">
    <div class="flex items-center gap-2">
      <a class="flex gap-2 items-center hover:text-muted-foreground" routerLink="/">
        <ng-icon name="lucideHammer" class="text-2xl sm:text-3xl" />
        <span class="hidden sm:inline-block text-xl font-semibold">Hephaestus</span>
      </a>
      <span class="text-xs font-semibold mt-1 text-muted-foreground">{{ version }}</span>
    </div>
    @if (signedIn() && user()?.roles?.includes('admin')) {
      <a hlmBtn variant="link" routerLink="/workspace">Workspace</a>
      <a hlmBtn variant="link" [routerLink]="'/user/' + user()!.username + '/activity'">Activity</a>
    }
    <a hlmBtn variant="link" routerLink="/teams">Teams</a>
  </div>
  @if (signedIn() && user()?.roles?.includes('mentor_access')) {
    <app-ai-mentor class="hidden sm:inline-block" />
    <app-ai-mentor class="sm:hidden" iconOnly />
  }
  <app-request-feature class="hidden sm:inline-block" />
  <app-request-feature class="sm:hidden" iconOnly />
  <app-theme-switcher />
  @if (signedIn()) {
    <button [brnMenuTriggerFor]="usermenu" class="ml-2">
      <hlm-avatar>
        <img [src]="'https://github.com/' + user()!.username + '.png'" [alt]="user()?.name + '\'s avatar'" hlmAvatarImage />
        <span hlmAvatarFallback>
          {{ user()?.name?.slice(0, 2)?.toUpperCase() ?? '?' }}
        </span>
      </hlm-avatar>
    </button>
    <ng-template #usermenu>
      <hlm-menu>
        <hlm-menu-label>{{ user()!.name }}</hlm-menu-label>
        <hlm-menu-separator />
        <hlm-menu-group>
          <a hlmMenuItem [routerLink]="'/user/' + user()!.username" class="cursor-pointer">
            <ng-icon hlm hlmMenuIcon name="lucideUser" />
            <span>My Profile</span>
          </a>
          <a hlmMenuItem routerLink="/settings" class="cursor-pointer">
            <ng-icon hlm hlmMenuIcon name="lucideSettings" />
            <span>Settings</span>
          </a>
          <hlm-menu-separator />
          <button hlmMenuItem (click)="signOut()" class="cursor-pointer">
            <ng-icon hlm hlmMenuIcon name="lucideLogOut" />
            <span>Sign&nbsp;Out</span>
          </button>
        </hlm-menu-group>
      </hlm-menu>
    </ng-template>
  } @else if (loaded()) {
    <button hlmBtn (click)="signIn()">Sign&nbsp;In</button>
  }
</header>
