<div class="flex items-start space-x-3">
  <textarea
    [(ngModel)]="messageText"
    placeholder="Message AI Mentor"
    style="resize: none"
    (keydown.enter)="onSend()"
    class="flex-1 bg-transparent px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-cyan-200"
  ></textarea>
  <a
    hlmBtn
    hlmTooltipTrigger
    hlmTooltipContentClass="bg-cyan-500 text-white"
    aria-describedby="Send Message"
    (click)="onSend()"
    class="bg-cyan-500 text-white p-2 rounded-lg hover:bg-cyan-600"
    variant="default"
    size="icon"
  >
    <lucide-angular [img]="Send" class="size-6"></lucide-angular>
  </a>
</div>
