<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <logger>logger</logger>
                <mdc>mdc</mdc>
                <stackTrace>stacktrace</stackTrace>
            </fieldNames>
            <timestampPattern>[ISO_INSTANT]</timestampPattern>
            <includeMdc>true</includeMdc>
            <decorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <pathMask>
                    <paths>password,secret,token,access_token,accessToken,refresh_token,refreshToken,authorization</paths>
                    <mask>***</mask>
                </pathMask>
                <valueMask>
                    <value>(?i)Bearer\s+[A-Za-z0-9._~+/=-]+</value>
                    <mask>Bearer ***</mask>
                </valueMask>
                <valueMask>
                    <value>glpat-[A-Za-z0-9_-]+</value>
                    <mask>glpat-***</mask>
                </valueMask>
                <valueMask>
                    <value>github_pat_[A-Za-z0-9_]+</value>
                    <mask>github_pat_***</mask>
                </valueMask>
                <valueMask>
                    <value>([?&amp;]token=)[^&amp;\s"']+</value>
                    <mask>$1***</mask>
                </valueMask>
            </decorator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
