<div class="flex gap-2 flex-col items-center justify-center">
  <h1 class="text-3xl font-bold mb-4">Artemis Leaderboard</h1>
  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4 place-content-center">
    <div class="w-full flex flex-col items-center">
      <app-leaderboard-filter />
    </div>
    <div class="xl:col-span-2 flex flex-col items-center gap-4">
      @if (query.error()) {
        <span class="text-xl text-destructive mt-2">An error has occurred</span>
      } @else {
        <div class="border rounded-md border-input">
          <app-leaderboard [leaderboard]="query.data()" [isLoading]="query.isPending()" />
        </div>
      }
    </div>
    <!-- Spacer -->
    <div class="hidden xl:block"></div>
  </div>
</div>
