<a
  class="grid grid-cols-[20%_50%_30%] border border-border bg-card hover:bg-accent hover:text-accent-foreground rounded-lg p-4 my-2"
  [href]="this.url() ?? this.pullRequestUrl()"
  target="_blank"
  rel="noopener noreferrer"
>
  <span class="justify-self-start self-center text-sm text-muted-foreground">
    {{ displayAge() }}
  </span>
  <div class="justify-self-center flex items-center gap-2">
    <div [className]="'flex justify-center items-center gap-2 font-medium ' + this.reviewStateProps().color">
      <ng-icon [svg]="this.reviewStateProps().icon" size="20"></ng-icon>
      {{ this.reviewStateProps().text }}
    </div>
  </div>
  <div class="justify-self-end flex items-center gap-1 md:gap-2">
    <a class="text-muted-foreground font-normal text-sm"> {{ this.repositoryName() }} #{{ this.pullRequestNumber() }}</a>
    @if (this.pullRequestState() === 'OPEN') {
      <ng-icon [svg]="octGitPullRequest" size="20" class="text-github-success-foreground"></ng-icon>
    } @else {
      <ng-icon [svg]="octGitPullRequestClosed" size="20" class="text-github-muted-foreground"></ng-icon>
    }
  </div>
</a>
