<div class="grid grid-cols-[20%_50%_30%] border border-border bg-card rounded-lg p-4 w-[500px]">
  <span class="justify-self-start ffont-normal text-sm text-muted-foreground">
    {{ displayAge() }}
  </span>
  <div class="justify-self-center flex items-center gap-2">
    <div [className]="'flex justify-center items-center gap-2 font-medium ' + this.reviewStateProps().color">
      <ng-icon [svg]="this.reviewStateProps().icon" size="20"></ng-icon>
      {{ this.reviewStateProps().text }}
    </div>
  </div>
  <div class="justify-self-end flex items-center gap-2">
    <span class="text-muted-foreground font-normal text-sm"> {{ this.review().pullRequest?.repository?.name }} #{{ this.review().pullRequest?.number }}</span>
    @if (this.review().pullRequest?.state === 'OPEN') {
      <ng-icon [svg]="octGitPullRequest" size="20" class="text-github-success-foreground"></ng-icon>
    } @else {
      <ng-icon [svg]="octGitPullRequestClosed" size="20" class="text-github-muted-foreground"></ng-icon>
    }
  </div>
</div>
