<div hlmCard>
  <div class="flex items-center group hover:cursor-pointer" (click)="toggleOpen()">
    <div hlmCardHeader class="flex-1">
      <h3 hlmCardTitle class="group-hover:underline">Leaderboard Legend</h3>
      <p hlmCardDescription class="group-hover:underline">Explanation of the most important elements</p>
    </div>
    <div class="flex items-center gap-2 px-6">
      @if (open()) {
        <hlm-icon name="lucideChevronsUp" />
      } @else {
        <hlm-icon name="lucideChevronsDown" />
      }
    </div>
  </div>
  <div hlmCardContent [class]="contentClass()">
    <div class="flex flex-col gap-2 sm:min-w-[250px]">
      <h4 class="font-medium mb-2">Icons</h4>
      <div class="flex items-center gap-2 text-github-muted-foreground">
        <ng-icon [svg]="octGitPullRequest" size="16" />
        Reviewed pull requests
      </div>
      <div class="flex items-center gap-2 text-github-danger-foreground">
        <ng-icon [svg]="octFileDiff" size="16" />
        Changes requested
      </div>
      <div class="flex items-center gap-2 text-github-success-foreground">
        <ng-icon [svg]="octCheck" size="16" />
        Approvals
      </div>
      <div class="flex items-center gap-2 text-github-muted-foreground">
        <ng-icon [svg]="octComment" size="16" />
        Comments
      </div>
      <div class="flex items-center gap-2 text-github-muted-foreground">
        <ng-icon [svg]="octCommentDiscussion" size="16" />
        Code comments
      </div>
    </div>
    <div class="max-w-[500px]">
      <h4 class="font-medium mb-2">Scoring System</h4>
      <p class="text-sm text-github-muted-foreground">
        The score approximates your contribution activity by evaluating your review interactions and the complexity of the pull requests you've reviewed.
        <span class="font-semibold">Change requests are valued highest</span>, followed by approvals and comments. The score increases with the number of review interactions. Pull
        request complexity &mdash; based on factors like changed files, commits, additions, and deletions &mdash; also enhances your score;
        <span class="font-semibold">more complex pull requests contribute more</span>. The final score balances your interactions with the complexity of the work reviewed,
        highlighting both your engagement and the difficulty of the tasks you've undertaken. This score reflects your impact but does not directly measure time invested or work
        quality.
        <a
          hlmBtn
          variant="link"
          size="none"
          href="https://github.com/ls1intum/Hephaestus/blob/961614388f7860319a076089be0095190bf20a71/server/application-server/src/main/java/de/tum/in/www1/hephaestus/leaderboard/LeaderboardService.java#L160"
        >
          [source]
        </a>
      </p>
    </div>
  </div>
</div>
