<div hlmCard class="flex space-x-4 px-6 py-4">
  @for (section of sections; track section) {
    <div class="flex-1 basis-1/3">
      <div class="font-bold">{{ section.title }}</div>
      <div class="flex flex-col gap-2 mt-2 mb-3">
        @for (entry of section.data(); track entry) {
          <p>{{ entry }}</p>
        }
      </div>
    </div>

    @if (!section.isLast) {
      <brn-separator 
        class="h-32 self-center dark:bg-slate-50" 
        decorative hlmSeparator 
        orientation="vertical">
      </brn-separator>
    }
  }
</div>