<div hlmCard class="flex flex-col px-5 py-4">
  @for (pr of pullRequests(); track pr.number) {
    <div class="flex gap-4 items-center">
      @if (pr.isDraft) {
        <a class="flex gap-1 items-center text-github-muted-foreground" [href]="pr.url">
          <ng-icon [svg]="OctGitPullRequestDraft" size="18" />
          {{ pr.title }} (#{{ pr.number }})
        </a>
      } @else {
        @if (pr.isMerged) {
          <a class="flex gap-1 items-center text-github-done-foreground" [href]="pr.url">
            <ng-icon [svg]="OctGitMerge" size="18" />
            {{ pr.title }} (#{{ pr.number }})
          </a>
        } @else {
          @if (pr.state == 'OPEN') {
            <a class="flex gap-1 items-center text-github-success-foreground" [href]="pr.url">
              <ng-icon [svg]="OctGitPullRequest" size="18" />
              {{ pr.title }} (#{{ pr.number }})
            </a>
          }
        }
      }
    </div>
  }
</div>
