<div class="flex items-center justify-center space-y-4">
  <div class="md:max-h-dvh w-full grid grid-cols-1 gap-x-5 md:grid-cols-4">
          <app-sessions-card
            [sessions]="sessions.data()"
            [isLoading]="sessions.isPending()"
            [(selectedSessionId)]="selectedSessionId"
            (createNewSession)="this.createNewSession.mutate()"
          ></app-sessions-card>
          <div class="flex flex-col md:col-span-3">
            @if (selectedSessionId() !== undefined) {
              <app-messages [messages]="selectedSessionMessages.data() ?? []" class="h-[calc(100dvh-200px)] overflow-y-scroll p-4 space-y-4" />
              <app-chat-input
                [isSending]="sendMessage.isPending()"
                (sendMessage)="sendMessage.mutate({ sessionId: selectedSessionId()!, message: $event })"
                class="border-t pt-4 px-4 sticky bottom-0 bg-white"
              ></app-chat-input>
            }@else {
              <app-start-session-card (createSession)="this.createNewSession.mutate()" class="place-content-center h-[calc(100dvh-100px)]">
              </app-start-session-card>
            }
          </div>
      </div>
</div>
