<brn-collapsible>
  <section hlmCard>
    <div class="pt-2 pl-6 pr-2">
      <div class="flex justify-between items-center text-sm text-github-muted-foreground">
        <span class="font-medium flex justify-center items-center space-x-1">
          @if (isLoading()) {
            <hlm-skeleton class="size-5 bg-green-500/30"></hlm-skeleton>
            <hlm-skeleton class="h-4 w-16 lg:w-36"></hlm-skeleton>
          } @else {
            <ng-icon [svg]="issueIconAndColor().icon" size="18" [class]="'mr-1 ' + issueIconAndColor().color"></ng-icon>
            {{ repositoryName() }} #{{ number() }} on {{ displayCreated().format('MMM D') }}
          }
        </span>
        <span class="font-medium flex justify-center items-center gap-2">
          @if (isLoading()) {
            <hlm-skeleton class="h-4 w-16 lg:w-36"></hlm-skeleton>
            <hlm-skeleton class="size-5"></hlm-skeleton>
          } @else {
            @if (badPractices()?.length == 1) {
              <span> {{ badPractices()?.length }} bad practice detected </span>
            } @else {
              <span> {{ badPractices()?.length }} bad practices detected </span>
            }
            <button hlmBtn variant="outline" size="sm" class="gap-1" (click)="this.detectBadPracticesForPrMutation.mutate(id())">
              @if (this.detectBadPracticesForPrMutation.isPending()) {
                <hlm-spinner class="size-4" />
              } @else {
                <ng-icon [svg]="octSync" class="size-8" />
              }
              <span>Detect</span>
            </button>
            <button brnCollapsibleTrigger hlmBtn variant="ghost">
              <ng-icon [svg]="octFold" size="18" class="text-github-muted-foreground"></ng-icon>
            </button>
          }
        </span>
      </div>
      <div class="flex justify-between font-medium">
        <span>
          @if (isLoading()) {
            <hlm-skeleton class="h-6 w-3/4"></hlm-skeleton>
          } @else {
            <div [innerHTML]="displayTitle()" class="truncate"></div>
          }
        </span>
        <span class="flex items-center space-x-2 pr-4">
          @if (isLoading()) {
            <hlm-skeleton class="h-4 w-8 bg-green-500/30"></hlm-skeleton>
            <hlm-skeleton class="h-4 w-8 bg-destructive/20"></hlm-skeleton>
          } @else {
            <span class="text-github-success-foreground font-bold">+{{ additions() }}</span>
            <span class="text-github-danger-foreground font-bold">-{{ deletions() }}</span>
          }
        </span>
      </div>
      @if (!isLoading()) {
        <div class="flex flex-wrap pb-1 gap-2 space-x-0">
          @for (label of pullRequestLabels(); track label.name) {
            <app-github-label [label]="label"></app-github-label>
          }
        </div>
      }
    </div>
    @if (!isLoading()) {
      <div class="gap-2 space-x-0 text-left px-6 pb-2">
        <brn-collapsible-content>
          <brn-separator hlmSeparator />
          <app-bad-practice-summary [summary]="badPracticeSummary()"></app-bad-practice-summary>
          @for (badpractice of badPractices(); track badpractice.title) {
            <brn-separator hlmSeparator />
            <app-bad-practice-card [title]="badpractice.title" [description]="badpractice.description" [state]="badpractice.state"></app-bad-practice-card>
          }
        </brn-collapsible-content>
      </div>
    }
  </section>
</brn-collapsible>
