<div
  hlmCard
  class="bg-card border border-border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-background focus:ring-ring rounded-lg shadow-sm text-card-foreground"
>
  <div hlmCardContent class="flex flex-col gap-y-4 pb-0 p-6">
    <!-- New Session Button -->
    <button
      hlmBtn
      class="w-full cursor-pointer bg-cyan-500 hover:bg-cyan-600 gap-2 justify-start "
      [disabled]="isLoading()"
     
    >
     <!-- (click)="handleCreateSession()" -->
      <lucide-angular [img]="Plus" class="size-4"></lucide-angular>
      <span *ngIf="!isLoading(); else loading">New Reflective Session</span>
      <ng-template #loading>Loading...</ng-template>
    </button>

    <!-- List of Past Sessions -->
    <div class="flex flex-col gap-2 sm:min-w-[250px]">
      <h4 class="mb-2 text-lg font-semibold leading-none tracking-tight">Past Sessions</h4>
      <ul class="space-y-2">
        <li
          *ngFor="let session of sessions()"
          class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-2 rounded-lg"
          
        >
          {{ session || 'Unnamed Session' }}
        </li>
      </ul>
    </div>
  </div>
</div>
