name: "PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review

jobs:
  validate-title:
    name: "Validate title"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      statuses: write
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            fix
            feat
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
          # Service scopes
          scopes: |
            webapp
            server
            ai
            webhooks
            docs
            # Infrastructure scopes
            ci
            deps
            docker
            db
            # Feature scopes
            leaderboard
            mentor
            profile
            workspace
            teams
            github
            notifications
          requireScope: false
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}"
            should start with a lowercase character for consistency.
          headerPattern: '^(\w*)(?:\(([\w\$\.\-\*\s]*)\))?!?: (.*)$'
          headerPatternCorrespondence: type,scope,subject
          wip: true

  assign-author:
    name: "Assign author"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: github.event.action == 'opened'
    steps:
      - uses: technote-space/assign-author@v1

  labeler:
    name: "Apply labels"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - uses: actions/labeler@v5
        with:
          configuration-path: .github/labeler.yml

      - name: "Apply size and semantic labels"
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.github/scripts/label-pr.js')
            await script({github, context})
